
.spinner-eff {
  position: relative;
  width: 50px;
  height: 50px;
}
.spinner-eff:before, .spinner-eff:after {
  content: "";
  display: block;
}
.spinner-eff .spinner-bar:before, .spinner-eff .spinner-bar:after {
  content: "";
  display: block;
}

/* spinner-1 styles */
@-webkit-keyframes rotation-top {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes rotation-top {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@-webkit-keyframes rotation-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  40% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes rotation-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  40% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@-webkit-keyframes rotation-bottom {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes rotation-bottom {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@-webkit-keyframes rotation-left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes rotation-left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
.spinner-eff.spinner-eff-1 .bar {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0.5;
}
.spinner-eff.spinner-eff-1 .bar-top {
  border-top: 25px solid #47A8BD;
  -webkit-animation: rotation-top 3.6s linear 0s infinite;
          animation: rotation-top 3.6s linear 0s infinite;
}
.spinner-eff.spinner-eff-1 .bar-right {
  border-right: 25px solid #47A8BD;
  -webkit-animation: rotation-right 3.6s linear 0s infinite;
          animation: rotation-right 3.6s linear 0s infinite;
}
.spinner-eff.spinner-eff-1 .bar-bottom {
  border-bottom: 25px solid #47A8BD;
  -webkit-animation: rotation-bottom 3.6s linear 0s infinite;
          animation: rotation-bottom 3.6s linear 0s infinite;
}
.spinner-eff.spinner-eff-1 .bar-left {
  border-left: 25px solid #47A8BD;
  -webkit-animation: rotation-left 3.6s linear 0s infinite;
          animation: rotation-left 3.6s linear 0s infinite;
}

/* spinner-2 styles */
@-webkit-keyframes scale-rotate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  12.5% {
    -webkit-transform: scale(0.5) rotate(45deg);
            transform: scale(0.5) rotate(45deg);
  }
  25% {
    -webkit-transform: scale(1) rotate(90deg);
            transform: scale(1) rotate(90deg);
  }
  37.5% {
    -webkit-transform: scale(0.5) rotate(135deg);
            transform: scale(0.5) rotate(135deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(180deg);
            transform: scale(1) rotate(180deg);
  }
  62.5% {
    -webkit-transform: scale(0.5) rotate(225deg);
            transform: scale(0.5) rotate(225deg);
  }
  75% {
    -webkit-transform: scale(1) rotate(270deg);
            transform: scale(1) rotate(270deg);
  }
  87.5% {
    -webkit-transform: scale(0.5) rotate(315deg);
            transform: scale(0.5) rotate(315deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@keyframes scale-rotate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  12.5% {
    -webkit-transform: scale(0.5) rotate(45deg);
            transform: scale(0.5) rotate(45deg);
  }
  25% {
    -webkit-transform: scale(1) rotate(90deg);
            transform: scale(1) rotate(90deg);
  }
  37.5% {
    -webkit-transform: scale(0.5) rotate(135deg);
            transform: scale(0.5) rotate(135deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(180deg);
            transform: scale(1) rotate(180deg);
  }
  62.5% {
    -webkit-transform: scale(0.5) rotate(225deg);
            transform: scale(0.5) rotate(225deg);
  }
  75% {
    -webkit-transform: scale(1) rotate(270deg);
            transform: scale(1) rotate(270deg);
  }
  87.5% {
    -webkit-transform: scale(0.5) rotate(315deg);
            transform: scale(0.5) rotate(315deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
.spinner-eff.spinner-eff-2 .square {
  width: 100%;
  height: 100%;
  background-color: #F51AA4;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: scale-rotate 3s linear 0s infinite;
          animation: scale-rotate 3s linear 0s infinite;
}

/* spinner-3 styles */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}
@-webkit-keyframes pulse-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes pulse-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}
.spinner-eff.spinner-eff-3 .circle {
  border-radius: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.spinner-eff.spinner-eff-3 .circle-1 {
  width: 100%;
  height: 100%;
  background-color: #60f691;
  top: 0;
  -webkit-animation: pulse 1.6s linear 0s infinite;
          animation: pulse 1.6s linear 0s infinite;
}
.spinner-eff.spinner-eff-3 .circle-2 {
  width: 66.6%;
  height: 66.6%;
  background-color: #0CCA4A;
  top: 16.5%;
  -webkit-animation: pulse-2 1.6s linear 0s infinite;
          animation: pulse-2 1.6s linear 0s infinite;
}
.spinner-eff.spinner-eff-3 .circle-3 {
  width: 33.3%;
  height: 33.3%;
  background-color: #0CCA4A;
  top: 33.3%;
}

/* spinner-4 styles */
.spinner-eff.spinner-eff-4 {
  -webkit-animation: rotation 12.8s steps(1) 0s infinite;
          animation: rotation 12.8s steps(1) 0s infinite;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes bar-top {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  12.5% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  87.5% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
@keyframes bar-top {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  12.5% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  87.5% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
@-webkit-keyframes bar-right {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  12.5% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  25% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  87.5% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
}
@keyframes bar-right {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  12.5% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  25% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  87.5% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
}
@-webkit-keyframes bar-bottom {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  25% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  37.5% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  62.5% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
@keyframes bar-bottom {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  25% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  37.5% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  62.5% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
}
@-webkit-keyframes bar-left {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  37.5% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  62.5% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
}
@keyframes bar-left {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  37.5% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  62.5% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
}
.spinner-eff.spinner-eff-4 .bar {
  background-color: #FE4E00;
}
.spinner-eff.spinner-eff-4 .bar-top {
  width: 100%;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: bar-top 3.2s linear 0s infinite;
          animation: bar-top 3.2s linear 0s infinite;
}
.spinner-eff.spinner-eff-4 .bar-right {
  width: 7px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-animation: bar-right 3.2s linear 0s infinite;
          animation: bar-right 3.2s linear 0s infinite;
}
.spinner-eff.spinner-eff-4 .bar-bottom {
  width: 100%;
  height: 7px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: bar-bottom 3.2s linear 0s infinite;
          animation: bar-bottom 3.2s linear 0s infinite;
}
.spinner-eff.spinner-eff-4 .bar-left {
  width: 7px;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-animation: bar-left 3.2s linear 0s infinite;
          animation: bar-left 3.2s linear 0s infinite;
}

/* spinner-5 styles */
@-webkit-keyframes ellipse-animation {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  12.5% {
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  37.5% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  62.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  75% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  87.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 0;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes ellipse-animation {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  12.5% {
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  37.5% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  62.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  75% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  87.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 0;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.spinner-eff.spinner-eff-5 .ellipse {
  width: 100%;
  height: 100%;
  background-color: #FFE314;
  border-radius: 50%;
  -webkit-animation: ellipse-animation 2.4s cubic-bezier(0, -0.26, 0.32, 1.22) 0s infinite;
          animation: ellipse-animation 2.4s cubic-bezier(0, -0.26, 0.32, 1.22) 0s infinite;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
